<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Login</h1>
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" >
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password"  name="password" >
            </div>
            <button type="submit">Submit</button>

        </form>
    </div>
</body>
</html>